################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ColourChanger/bin/Debug
/ColourChanger/obj
/.vs/ChangeImageColours/v16
/.vs/ColourChanger/v16
/.vs
/.vs123
