################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ColourChanger/bin/Debug
/ColourChanger/obj
/.vs/ChangeImageColours/v16
/.vs/ColourChanger/v16
/.vs
/.vs123
/ColourChanger/images/greyscale_image.jpg
/ColourChanger/images/greyscale_image2.jpg
/ColourChanger/images/image.jpg
/ColourChanger/images/valley.jpg
